body {background-color: #e029b865;text-align:justify;font-size: 15px;}
h1{text-align:center;background-color: #1b1917;color: rgb(33, 42, 49);}
h3{text-align;justify;color:bisque;}
b{color:blanchedalmond;font-size:15px;}
header, footer{background-color:#e948ce94; COLOR; text-align:center; font-size: 15px;}
main{background-color: #c5bfc773;}